@model MangoAccountSystem.Models.LoginInputModels
@{
	ViewData["Title"] = "Mango Login";
}
<div class="row">
	<div class="col-sm-7">
	</div>
	<div class="col-sm-5">
		<div class="card text-white bg-dark mb-3" style="max-width: 22rem; margin-top:60px;margin-left:auto;margin-right:auto;">
			<div class="card-header">Mango User</div>
			<div class="card-body">
				<form action="/account/login" method="post">
					@Html.AntiForgeryToken()
					<input type="hidden" value="@Model.ReturnUrl" name="returnurl" />
					<input type="hidden" value="@Model.OnlyLocalLogin" name="onlyLocalLogin"/>
					<div class="form-group">
						<label for="exampleInputEmail1">UserName</label>
						<input type="text" class="form-control" name="username" value="@Model.UserName">
						<span asp-validation-for="UserName" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label for="exampleInputPassword1">Password</label>
						<input type="password" class="form-control" name="password">
						<span asp-validation-for="Password" class="text-danger"></span>
					</div>
					<button type="submit" style="display:inline;" class="btn btn-success">Login</button>
					<button type="button" style="display:inline; margin-left:10px;" class="btn btn-outline-success" onclick="window.location.href = '/account/signup'">Sign Up</button>
				</form>
				@{
					if (!Model.OnlyLocalLogin)
					{
						<hr style="border-color:gray" />
						<div style="height:50px;padding-top:9px;padding-bottom:9px;">
							<div style="height:32px;width:90px;margin-left:auto;margin-right:auto;">
								<a href="/external/challenge?returnUrl=@Model.ReturnUrl&provider=github" style="margin:0px 5px 0px 5px;">
									<img src="~/img/github.svg" />
								</a>
								<a href="/external/challenge?returnUrl=@Model.ReturnUrl&provider=gitee" style="margin:0px 5px 0px 5px;">
									<img src="~/img/gitee.svg" />
								</a>
								<a></a>
							</div>
						</div>
					}
				}
			</div>
		</div>
	</div>
</div>
