@{ 
    ViewData["Title"] = "Mango User Center";
}

<div class="text-center">
    <div style="margin-top:150px;">
        <h1>Welcome To Mango!</h1>
        <p>The User Login/SignUp Center Of Mango Apps</p>
        <p>SSO System Base on IdentityServer and AspDotNetCore Identity</p>
    </div>
</div>
