@{
	ViewData["Title"] = "Mango Service";
}

<div style="margin-top:3em;">
	<h3 style="margin-left:2em;">Service And App</h3>
	<div class="container" style="margin-top:2em;">
		<div class="row">
			<div class="col-md-3 col-6">
				<div class="text-center">
					<button type="button" class="btn btn-light" onclick="window.location.href = 'https://www.hahamango.cn'" style="width:9.25em;">
						<img src="~/img/blog.svg" />
						<p>Blog</p>
					</button>
				</div>
			</div>
			<div class="col-md-3 col-6">
				<div class="text-center">
					<button type="button" class="btn btn-light" onclick="window.location.href = '/Center/Model'" style="width:9.25em;">
						<img src="~/img/model.svg" />
						<p>Model</p>
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
